@model Event.Models.Respone.Item.CreateItemViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>CreateItemModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                @Html.DisplayFor(m => m.Error)
              </div>
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ItemCategories)
                    @Html.DropDownListFor(m => m.SelectedValue, // 1. Store selected value in Model.State;
                                                            // when page is rendered after postback,
                                                            // take selected value from Model.State.

                                              // 2. Take list of values from Model.States
                                              Model.ItemCategories,

                                              // 3. Text for the first 'default' option
                                              "- Please select a category -",

                                              //4. A class name to assign to <select> tag
                                              new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label asp-for="PointValue" class="control-label"></label>
                    <input asp-for="PointValue" class="form-control" />
                    <span asp-validation-for="PointValue" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
