@model Event.Models.Respone.Item.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}
<div class="container" style="margin-top: 5%;">
    <div class="row">             
        <div class="col-md-3 col-xs-3 col-md-offset-5 col-xs-offset-4" >
            <label asp-for="Username"></label>
            <h4>@Html.DisplayFor(m => m.Username)</h4>
            <hr />
            <label asp-for="Points"></label>
            <h4>@Html.DisplayFor(m => m.Points)</h4>
        </div>        
    </div>
</div>


